doctype html
html
  head
    meta(charset='utf-8')
    title US Stock Market Watch
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    section.section.section-heading
      .container
        h1.title.is-1 US Stock Market Watch
    section.section
      form.container.form-container#form-container
        .field.is-horizontal
          .field-body
            #js-stocksdropdown.field
              // Insert backbone template
            .field
              .another-container
                .field
                  label.label Download as
                  p.control
                    span.select.is-medium
                      select(name="download_type" id="download_type")
                        option(value="json") JSON
                        option(value="csv") CSV
                .is-divider(data-content='OR')                   
                .field
                  p.control
                    label.checkbox
                      input(type='checkbox' name='is_table' id='is_table')
                      |                         Display them as table
        .field
          button.button.is-large.is-primary(type="button" name="submit_button" id="submit_button") Submit
    section.section.section-table
      .container.table-container#table-container
                            
    //- Underscore Templates
    script#stockNamesDropdownView(type='text/template').
      <label class="label">Available Stocks</label>
      <p class="control">
        <span class="select is-medium">
          <select name="stock_id" id="stock_id"></select>
        </span>
      </p>
    
    script#optionitem-template(type="text/template").
      <option value=<%- key %>><%- value %></option>

    script#stocksTableView(type="text/template").
      <h1 class="title is-4"><%- title %></h1>
      <table class="table">
        <thead>
          <tr>
            <% _.each(column_names, function(column_name) { %> 
                <th>
                  <abbr title=<%= column_name %>><%= column_name %></abbr>
                </th>
            <% }); %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <% _.each(column_names, function(column_name) { %> 
                <th>
                  <abbr title=<%= column_name %>><%= column_name %></abbr>
                </th>
            <% }); %>
          </tr>
        </tfoot>
        <tbody>
          <% _.each(stocks, function(stock) { %> 
                <tr>
                  <% _.each(stock, function(val, index) { %> 
                    <% if (index === 0) { %>
                      <th><%= val %></th>
                    <% } else { %>
                      <td><%= val.toFixed(2) %></td>
                    <% } %>
                  <% }); %>
                </tr>
            <% }); %>
        </tbody>
      </table>  
      
      
    // Bower Assets
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone-min.js')

    // Non-Bower Assets
    script(src='scripts/backbone-callbacks-min.js')
    script(src='scripts/backbone.localstorage.min.js')
    script(src='scripts/models/stocksDropDownModel.js')
    script(src='scripts/models/stocksModel.js')
    script(src='scripts/collections/stocksCollections.js')
    script(src='scripts/collections/stocksDropDownCollection.js')
    script(src='scripts/views/stocksView.js')
    script(src='scripts/views/stocksTableView.js')
    script(src='scripts/views/stocksDropDownView.js')
    script(src='scripts/views/stocksDropDownOptionView.js')
    script(src='scripts/views/stocksFormView.js')
    script(src='scripts/app.js')
